:root {
    --color-primary: rgba(52, 201, 75, 1); /* Example green color */
    --color-black:black;

}

.sectionContainer{
    height: auto;
    color: #fff;
    padding: 16px;
    background-color: black;
}
.sectionTitle{
    display: flex;
    align-items: center;
    justify-content: space-between;


}