.navbar {
    background-color: var(--color-primary);
    height: 74px;
    width: 100%;
    padding: 0px 32px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .feedback {
    border: none;
    height: 45px;
    border-radius: 12px;
    padding: 10px 16px;
    background-color: var(--black-color);
    color: var(--primary-color);
    font-weight: 600;
    letter-spacing: 1px;
    cursor: pointer;
    
}